body {
    font-family: "Roboto", "Brush Script MT", sans-serif;
    background-image: url("./images/chowder-pattern.jpg");
    list-style-position: inside;
}

#header {
    margin: 1em auto;
}

.content {
    text-align: center;
    display: flex;
}

.content * {
    margin: 0 auto;
}

h1 {
    margin: 0 auto;
    width: fit-content;
    font-weight: bold;
    font-size: 70px;
    background-image: url("./images/chowder-food-pattern.avif");
    color: rgb(122, 35, 194);
    border: 5px white solid;
    border-radius: 25px;
    padding: 8px 16px;
}

.content img {
    margin-right: 0;
}

.content ul {
    font-size: 20px;
    list-style: none;
    text-align: left;
    background-color: white;
    border: 5px wheat solid;
    border-radius: 20px;
    margin-left: 25px;
    padding: 10px;
}

.content ul li {
    margin-top: 10px;
}